* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  padding: 40px 15px;
  margin: 0;
}

.main {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
}

a {
  color: #0366d6;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

.block {
  padding: 16px;
  margin-bottom: 16px;
  border-radius: 3px;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.27);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.27);
}

.error.block {
  background: #ffb7b7;
}

.block > :first-child {
  margin-top: 0;
}

.block > :last-child {
  margin-bottom: 0;
}

span.code {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  display: inline-block;
  padding: 1px 4px;
  font-size: 14px;
}

.profile {
  border-radius: 0;
  color: #fff;
  height: 50px;
  background-color: #25272b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.profile-status {
  margin: 0;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
}

.profile-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

img.profile-image {
  margin-right: 5px;
  border-radius: 50%;
  width: 32px;
  height: 32px;
}

img.example {
  width: 450px;
  height: 490px;
}

span.profile-name {
  display: block;
  font-size: 14px;
  line-height: 14px;
}

span.profile-tag {
  display: block;
  margin-top: 3px;
  font-size: 10px;
  line-height: 10px;
  opacity: 0.4;
}

.p-0 {
  padding: 0;
}

.p-2 {
  padding: 16px;
}

.m-0 {
  margin: 0;
}

.connections {
  position: relative;
  padding: 0;
}

.connections-timer {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 16px;
  text-align: center;
  user-select: none;

  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  opacity: 1;
}

.connections-timer.ended {
  opacity: 0;
  pointer-events: none;
}

.connections-timer-counter {
  font-size: 36px;
  line-height: 36px;
  font-weight: 500;
  margin-bottom: 8px;
}

.connections-content {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.blurred {
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}

.connections-title {
  margin: 0;
  padding: 16px;
}

.connection-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: inherit;
  text-decoration: none !important;
  outline: none;
  padding: 12px 16px;
}

a.connection-data:hover {
  background-color: #f5f5f5;
}

img.connection-image {
  margin-right: 10px;
  width: 48px;
  height: 48px;
}

span.connection-name {
  display: block;
  font-size: 16px;
  line-height: 16px;
}

span.connection-id {
  display: block;
  margin-top: 6px;
  font-size: 12px;
  line-height: 12px;
  opacity: 0.5;
}

body.loading * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
