<!DOCTYPE html>
html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title= "Select Steam account"
        link(rel='shortcut icon', type='image/x-icon', href='/assets/favicon.ico')
        link(rel="stylesheet", href="/assets/style.css")
    body.loading
        div.main
            div.profile.block
                h2.profile-status You are logged in as:
                div.profile-data
                    img.profile-image(src=avatar)
                    div.profile-info
                        span.profile-name #{username}
                        span.profile-tag #{tag}
            div.info.block.connections
                div.connections-timer
                    span.connections-timer-counter 3
                    span.connections-timer-description Ensure that you are using the correct discord account.
                    span.connections-timer-description Verify your username, # tag, and avatar match what is shown above.
                div.connections-content.blurred
                    h3.connections-title Select Steam account:
                    each connection in connections
                        a.connection-data(href='/confirm?steamID=' + connection.steamid)
                            img.connection-image(src=connection.avatarmedium)
                            div.connection-info
                                span.connection-name #{connection.personaname}
                                span.connection-id Steam64ID: #{connection.steamid}
        script(src="/scripts/timer.js")