html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title= "Success"
        link(rel='shortcut icon', type='image/x-icon', href='/assets/favicon.ico')
        link(rel="stylesheet", href="/assets/style.css")
    body
        div.main
            div.profile.block
                h2.profile-status You are logged in as:
                div.profile-data
                    img.profile-image(src=avatar)
                    div.profile-info
                        span.profile-name #{username}
                        span.profile-tag #{tag}
            div.info.block
                h3 Success!
                p You have successfully linked to steamID: #[span.code #{steamID}]
                p Send a direct message #[span.code !r] to any of the 5 Chessbots to get access to lobbies based on your rank.
                img.example(src='/assets/dm_ss.png')